body {
    background-image: url("../assets/stairs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-section {
    height: fit-content;
    width: 80vw;
    margin: 30px auto 30px auto;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

form {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

#instructions {
    text-align: justify;
    height: fit-content;
}

#results {
    margin: auto;
    text-align: center;
}

label {
    text-align: start;
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: center;
    width: 200px !important;
}

label i {
    align-self: flex-start;
}

input[type="checkbox"] {
    width: 20px;
}

input[type="submit"] {
    align-self: flex-end;
}

form div {
    display: flex;
    gap: 10px;
}

form input {
    height: 30px;
    width: 70%;
}

select {
    width: 15%;
    text-align: center;
}

form #btn-send {
    width: 15%;
}