.container {
    width: 70vw;
    margin: 30px auto 30px auto;
}

h1 {
    text-align: center;
}

#table-container {
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
}

table {
    width: 100%;
    background-color: white;
    text-align: center;
    overflow-y: hidden;
    border-collapse: collapse;
}

thead {
    background-color: #1f363d;
    position: sticky;
    top: 0;

}

th,
td {
    padding: 5px;
}

th:not(.no-border),
td:not(.no-border) {
    border-right: 1px solid grey;
}

td {
    color: black;
    font-weight: bold;
}