#fight-section {
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fight-section div {
    border: 3px solid black;
    width: 40%;
}

#fight-section div:first-child {
    border: 3px solid red;
    background-color: crimson;
}

#fight-section div:last-child {
    border: 3px solid blue;
    background-color: cornflowerblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}