section {
    min-height: 50vh;
    padding:20px;
}

#other {
    background-image: url("../assets/stairs.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.7;
}

#actions {
    background-color: white;
    
}

.btn-action {
    background-color: var(--element-color);
    border-radius: 5px;
    padding:10px;
    border: none;
    font-size: 1.2em;
    width: 20vw;
    gap:15px;
}

.btn-action, #actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}